extends layout

block content
    h1= title
    table(style="border: 1px solid black;")
        each server in servers
            tr(style="border: 1px solid black;")
            if server.status == 'UP'
                th(style="border: 1px solid black;background-color: #64f564;") #{server.name}
            else
                th(style="border: 1px solid black;background-color: #f50009;") #{server.name}
                th(style="border: 1px solid black;") #{server.lastUpTime}

